[2020-02-13 23:45] ankane opened #1 "Plan"
Ideas

- [ ] Add support for `DoubleLinearExpr`
- [ ] Move SAT linear expression building to Ruby (see `cp_model.py`)

More higher level interfaces

- [ ] Hourly scheduler - people needed per hour as input - output could be shifts or assignments (if availability is given)
- [ ] Vehicle routing
- [ ] Planting schedule

[2020-05-21 14:25] rodreegez opened #2 "Installing on Heroku"
Before I begin, I would like to say:

* I'm really sorry, and,
* I'm weirdly a huge fan - I use a bunch of your other gems regularly. Thanks!

I've spent most of today trying to get OR Tools running on Heroku. I have little to no idea what I'm doing. It's been fun.

I've created a [buildpack](https://github.com/pony-deluxe/heroku-ortools-buildpack) that seems to install OR Tools properly on a fres

[2020-05-22 02:35] ankane commented on #2
Hey @rodreegez, thanks for sharing your approach. The main issue was Heroku runs buildpacks in a temporary directory, so it wasn't able to find OR-Tools.

I made a few improvements as a result of this:

1. Improved the error message when OR-Tools isn't found
2. Added an experimental `vendor` branch that downloads OR-Tools (will likely merge in the future)

With the 2nd one, you can just point your

[2020-05-22 18:33] rodreegez commented on #2
Wow, thanks so much. This seems to have worked perfectly.

[code]

I removed my buildpack and added the vendor branch of the gem, then deployed. Once deployed, I was able to run `heroku console` and call my `VRPService` class which is basically just a straight copy of the VRP example given in this gem's README.

Awesome, thank you so much.

I don't really understand why the buildpack approach didn

[2020-05-22 18:33] #2 closed

[2020-05-22 18:42] rodreegez commented on #1
Hey, I'm working on VRP at the moment, and would love to try and contribute back to this project if I can. Did you have any thoughts or feelings on what a solution could/should look like in order to fit in with the wider goals of the project? I'd love to try and do this from or-tools if I can.

Cheers.

[2020-05-23 00:13] ankane commented on #2
Great, will push out a new release with it shortly. Here's my understanding of why the buildpack approach didn't work as is.

The OR-Tools library is needed in two situations:

1. Compile time (headers and shared library)
2. Run time (shared library)

Buildpacks run in `/tmp/build_123456`, so `/app/or-tools` doesn't exist. Since the build directory is different every time, you can't build against

[2020-05-23 00:44] ankane commented on #2
Just pushed out 0.2.0, and will be deleting the `vendor` branch after a week, so please update your app as needed.

[2020-05-23 18:45] rodreegez commented on #2
Thanks man - all updated to use the 0.2.0 gem from RG. Thanks again!

[2020-05-24 14:23] ankane commented on #1
Hey @rodreegez, thanks for the interest in helping out.

Ideally there'd be a friendly API where you can define the problem with simple concepts (no calls like `register_transit_callback` and `set_arc_cost_evaluator_of_all_vehicles`). Here's a rough initial idea for VRP, but I'd be curious to see what you come up.

[code]

It could use haversine distance by default, but also take a proc to allow y

[2020-07-14 03:57] ankane commented on #1
Hey @rodreegez, just fyi, I added a higher level interface for TSP. It's much simpler than VRP, but may provide some inspiration for the API: https://github.com/ankane/or-tools#traveling-salesperson-problem-tsp

[2020-07-14 08:40] rodreegez commented on #1
@ankane super cool, thanks. I'll see if I can open a PR with where I'm at on VRP soon. I'm sure I can follow your lead and make what I've done so far fit with what you've done here. Nice one, thank you.

[2020-07-15 03:07] cokeito opened #3 "Error installing gem"
after install the gem, i run the rails console and get this error :(

3:03 $ rails c
[code]

the ext.so file exists
![image](https://user-images.githubusercontent.com/4615797/87498801-afe07080-c626-11ea-9bc2-d0d5443e1f71.png)

tried on a rvm version 2.5.3 and 2.4.1, same error

also installed the or-tools from source, without any problem.

Thanks in advance.

[2020-07-15 03:35] cokeito commented on #3
well, after a diggin, i ran an update with

`ldconfig -v`

and re-bundled the gem and did work!
thanks tho

[2020-07-15 03:41] ankane commented on #3
Hey @cokeito, which operating system version are you on?

[2020-07-15 03:42] cokeito commented on #3
debian 9 x64
Thanks for answering

[2020-07-15 03:46] ankane commented on #3
Did you get the `Binary installation not available for this platform.` error initially?

[2020-07-15 03:49] cokeito commented on #3
i had to install the lib for c++, and after that tried to install the gem with no success.

on one of the tries, (rvm 2.6.1)

got this

dont know if will help for your debug:
`nstalling or-tools 0.2.0 with native extensions
Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    current directory: /usr/local/rvm/gems/ruby-2.6.1/gems/or-tools-0.2.0/ext/or-tools
/usr/local/rvm/rubies

[2020-07-15 03:53] ankane commented on #3
Great, that's expected to Debian 9. What commands did you run to get it to succeed?

[2020-07-15 03:55] cokeito commented on #3
ldconfig -v
and re-bundled, dunno if this was needed but it's working
Thanks again!

[2020-07-15 03:59] ankane commented on #3
I'm not entire sure what rebundled means, but glad it's working.

[2020-07-15 03:59] #3 closed

[2020-07-15 04:27] cokeito opened #4 "seg fault @ run solver."
hey, im back again
i've made a service file for testing:
[code]

3] pry(main)> DevelService.ejemplo
/usr/local/rvm/gems/ruby-2.4.1/gems/or-tools-0.2.0/lib/or_tools/cp_solver.rb:24: [BUG] Segmentation fault at 0x00000000000000
ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-linux]

-- Control frame information -----------------------------------------------
c:0057 p:---- s:0338 e:000337 CFUNC  :

[2020-07-15 05:45] cokeito commented on #4
can you provide a working example (repo to test)
to test this example, and discard an error from my side.

cheers

[2020-07-15 06:27] ankane commented on #4
Hey @cokeito, all of the examples in the readme should work. Are you able to run any examples successfully?

[2020-07-15 20:02] cokeito commented on #4
Yep, the flow one ran without problem, i tried to run the Sodoku one and doesn't work neither.
i was trying to debug last nite, if u run the solver(mode). it doesn't crash

solver.search_for_all_solutions(model,solution_printer), dies with segfault.

letme know what can i do to provide help for you

[2020-07-15 22:51] ankane commented on #4
The Sudoku class is only available on the master branch. You can try cloning the repo and running the test suite.

[code]

Also, make sure the OR-Tools C++ library is 7.7.

[2020-07-20 19:37] rodreegez opened #5 "Unable to find OR-Tools when installing gem locally"
Hey there,

I'm trying to get the gem setup for further local development, however I'm having trouble getting it to find OR-Tools.

I'm following the instructions in the README, which are:

[code]

I can `clone`, `cd` and `bundle install` fine, but when I run `bundle exec rake compile`, I get the following error:

[code]

Just gem installing as the error suggests gives me the following error:

[co

[2020-07-20 21:43] ankane commented on #5
Hey @rodreegez, try:

[code]

I'm not sure about the compatibility guarantees on Ubuntu-like distros, so I think manual installation is best for now.

[2020-07-21 14:14] rodreegez commented on #5
Thanks for the help. I presume the issue is to do with how I have compiled OR Tools locally, and as a result the fix is beyond the scope of this gem. I did manage to get this running on Ubuntu 18.04 proper (the gem vendored or-tools beautifully), so closing this.

[2020-07-21 14:14] #5 closed

[2020-07-21 18:54] rodreegez commented on #3
Commenting on a closed issue because reasons.

The `ldconfig` thing is the bit that makes OR Tools work when installing from source. From the man page:

Therfore, when installing OR Tools from source, you need to extract it to either `/lib` or `/usr/lib` and the run `ldconfig -v`. At least I think that's what you need to do?

This isn't made clear in the OR Tools installation guide, but now that I

[2020-08-18 02:34] ankane commented on #4
Cleaning up stale issues

[2020-08-18 02:34] #4 closed

[2020-10-07 01:06] mschaf opened #7 "Specify start and end points for vehicle routing"
Hello ankane

First of all: I love your ruby bindings, saves me allready a lot time and pain, thanks for that.

I would like to specify start and endpoints for a vehicle routing problem instead of a depot where everthing starts and ends.
The google docs give an example how to do this: https://developers.google.com/optimization/routing/routing_tasks#setting-start-and-end-locations-for-routes
[code]

[2020-10-07 01:51] #7 closed

[2020-10-07 01:52] ankane commented on #7
Hey @mschaf, should be possible on master. Let me know if you find any other missing functionality.

[2020-10-07 09:12] mschaf commented on #7
Big thanks for the fast response and implementation, works like a charm. :+1:

[2020-11-05 16:30] braindeaf opened #8 "Setting a max time for a solver."
I'm trying to find out how to hook into CPModel in order to set in the same way that it does here

https://developers.google.com/optimization/cp/cp_tasks#c++

[code]

As far as I can see this isn't available at the moment. Is that right?

Basically, at the moment our solver keeps going and only stops on Ctrl-C and I'd like to see what the result is after 10, or 20 seconds or whatever.

[2020-11-06 00:19] #8 closed

[2020-11-06 00:20] ankane commented on #8
Hey @braindeaf, thanks for reporting! Added to master: https://github.com/ankane/or-tools#setting-solver-limits.

[2020-11-06 00:28] braindeaf commented on #8
Oh wow, I wasn't expecting such an efficient turn around (if at all :p). Thank you very much. This whole solving world is really brain crunching and still pretty magic to me at the moment. Really appreciating the work you've done on this.

[2020-11-06 00:41] ankane commented on #8
No problem. Let me know if you find other features that are missing.

Also, fwiw, I found this video series to be a great intro to linear programming: https://www.youtube.com/watch?v=0TD9EQcheZM

[2020-11-06 12:33] braindeaf commented on #8
I will report back if I find anything else of course. I think my biggest problem is getting my head round the concepts. And then translating that back into legible code. Next step is to convert this example into Ruby as this matches many of our requirements, with the exception of evenly spreading out shifts over time.

https://github.com/google/or-tools/blob/master/examples/python/shift_scheduling

[2021-02-17 19:23] stevenchern opened #10 "Gem installation in macOS Catalina 10.15.7"
Hi, I'm having a problem installing gem.
I run:
`gem install or-tools -v '0.4.0'`
and I get the error below:

[code]

[2021-02-17 20:14] ankane commented on #10
Hey @stevenchern, based on this discussion (https://github.com/oracle/truffleruby/issues/1924), it looks like you can either:

1. Use Ruby 2.7+ OR
2. Use GCC instead of Clang. However, I don't see any easy way tell Ruby/Rice to do this right now.

[2021-02-22 15:47] braindeaf opened #11 "ORTools::SatIntVar can't be coerced into Integer (TypeError)"
Hi there,

I'm working on trying to port one Python example to Ruby and I've hit a roadblock. (I'll prefix that by saying this was reasonably smooth up until now). I am not going to pretend I understand how this works but my assumption is everytime you do something like

model.add(->> this is something that is evaluated later <<-)

In my port of a Staff Scheduling solution

https://github.com/brai

[2021-02-22 19:55] stevenchern commented on #10
I changed the gem version to 0.3.4 and it worked. The ruby version in this application is 2.6.3

Just in case someone is using Ubuntu, it worked with gem version 0.4.0 and ruby version 2.6.3.
Pushing it to Heroku also worked with these versions.

[2021-02-22 19:55] #10 closed

[2021-02-22 20:24] ankane commented on #11
Hey @braindeaf, try rewriting the expression to:

[code]

One difference between in the Ruby library is ORTools variables must appear on the left side of the expression.

[code]

Another way that would ideally work is:

[code]

But it looks like the `-` method isn't implemented for `ORTools::SatIntVar` yet.

[2021-02-22 20:34] ankane commented on #10
Great, glad it's working. 0.3.4 should work on Mac with Ruby 2.6 since it doesn't use C++17, and 0.4.0 should work on Linux with Ruby 2.6 since it uses GCC instead of Clang (basically, Ruby 2.6 + Clang + C++17 is causing the error).

[2021-02-22 22:57] braindeaf commented on #11
dang! I tried the latter first and it didn't work earlier. If I'd only thought about moving the sum_var to the opposite side of the equation :S

I'll certainly try it out w/the change anyway.

That then revealed

staff_scheduling_sat.rb:286:in `add_soft_sum_constraint': undefined method `delta' for #<ORTools::CpModel:0x00007fc554100c68> (NoMethodError)

So I guess 'delta' isn't supported yet. Is i

[2021-02-22 22:58] braindeaf commented on #11
I'm being a spanner, there is no delta method :)

[2021-02-22 23:02] braindeaf commented on #11
Last one, I promise....

      delta = model.new_int_var(-7, 7, '')
      model.add(delta + soft_max == sum_var)
      excess = model.new_int_var(0, 7, prefix + ': over_sum')
      model.add_max_equality(excess, [delta, 0])

staff_scheduling_sat.rb:289:in `add_max_equality': Unable to convert Integer to operations_research::sat::IntVar (ArgumentError)

[2021-02-22 23:25] ankane commented on #11
Ha, no worries, this is really useful for the library, so keep them coming. I don't see an immediate for fix this one, but you should be able to convert the constant to an int var manually for now.

[code]

(I think you can just remove if it's zero though)

[2021-02-23 12:11] braindeaf commented on #11
This is looking great so far. I'm sure I've managed to mess up and I need to go back and debug, as it's taking three times as long as python and the solution is giving me differences in the debug output. I can't install latest version yet for some reason (battle for another day). I noticed that it's not possible to access the ObjectiveSolutionPrinter class as yet. Is it possible to add that?

Many

[2021-02-23 16:33] braindeaf commented on #11
Looks like my example is ported across as much as I can. However, there is a distinct discrepancy I'm struggling with.

The python example stops after 10 seconds, with a FEASIBLE result, presumably some built in default solve time. Upping the max time doesn't seem to get to OPTIMAL, re-running at 5 and now 10 mins....

Solution 31, time = 160.86 s, objective = 52
Solution 32, time = 160.90 s, obje

[2021-02-23 18:51] ankane commented on #11
Just added `ObjectiveSolutionPrinter` as well as a better `inspect` method for `CpModel`. I haven't noticed a difference in runtime between the libraries (most of the work should be in C++ for both).

I'd see if the output matches between the new `model.inspect` and Python's `print(model)`. Also, make sure you're comparing with version 8.1 of the Python library.

[2021-02-23 23:03] ankane commented on #11
fwiw, I just tried to run it and get the same results between Ruby and Python with master. Here they are after manually stopping after 5 seconds or so.

Python

[code]

Ruby

[code]

[2021-02-24 01:17] braindeaf commented on #11
It's getting a bit confusing and a little disheartening that earlier I was getting OPTIMAL for one and FEASIBLE for another. It might be because I was flipping between 0.3.0 and now 0.4.0. However, now I'm the same as you when I set the timeout to 15 seconds for both. I'll take what I have and make a PR with these examples in tomorrow :)

Thank you again, this is great progress for us here.

[2021-02-25 11:02] #11 closed

[2021-03-24 12:24] braindeaf opened #14 "Adding support for OnlyEnforceIf and AddAssumptions"
would it be possible to add support for OnlyEnforceIf and AddAssumptions?

RobL

[2021-03-24 12:26] braindeaf opened #15 "scheduling_test.rb explodes a bit with latest master"
Robs-MacBook-Pro:or-tools rl$ bundle exec rake test TEST=test/scheduling_test.rb
Run options: --seed 50352

# Running:

F/Users/rl/repos/or-tools/test/scheduling_test.rb:121: [BUG] Segmentation fault at 0x0000000000000000
ruby 2.7.2p137 (2020-10-01 revision 5445e04352) [x86_64-darwin20]

-- Crash Report log information --------------------------------------------
   See Crash Report log file under

[2021-03-24 20:59] ankane commented on #14
Added

[2021-03-24 21:06] ankane commented on #15
Hmm, not sure how to reproduce. Tried running the command in a loop with Ruby 2.7.2 on darwin20 but couldn't get it to segfault.

[2021-03-24 22:41] braindeaf commented on #15
I'll have a play and come back to you if I find a way to make it work :) Cheers

[2021-03-24 22:44] braindeaf commented on #14
Excellent, thank you :)

[2021-03-25 18:52] braindeaf commented on #14
Ever seen this sucker before? I did let MacOSX upgrade the other day and command line tools were definitely not right afterwards.

Robs-MacBook-Pro:or-tools rl$ bundle exec rake test TEST=test/assumptions_sample_sat_test.rb
Run options: --seed 3997

# Running:

dyld: lazy symbol binding failed: Symbol not found: __ZN19operations_research3sat14CpModelBuilder14AddAssumptionsEN4absl14lts_2020_09_234S

[2021-03-25 20:44] ankane commented on #14
Hmm, haven't seen that. Try `bundle exec rake clobber compile` to see if that fixes it.

[2021-03-26 08:17] DigitalBoxMobile opened #16 "Installing with Dokku"
Hi I am trying to install or-tools 0.4.2 on a server using Dokku. I am using this [heroku buildpack](https://github.com/heroku/heroku-buildpack-ruby).

And I get this error:
[code]

Can you help me? Thanks!

[2021-03-26 08:31] ankane commented on #16
Hey @DigitalBoxMobile, what do you get if you run this Ruby code in the container?

[code]

(these values are used to find the correct binary distribution of OR-Tools)

https://github.com/ankane/or-tools/blob/5f4c5d30f41e753a26ee7c49e664872b635fc30e/ext/or-tools/vendor.rb#L12-L13

[2021-03-26 08:38] DigitalBoxMobile commented on #16
You answer with lightning speed :)
[code]

[2021-03-26 08:47] ankane commented on #16
OR-Tools no longer releases binaries for Ubuntu 16.04, so you'll need to use gem version `0.3.4` or earlier (or update to Ubuntu 18.04).

[2021-03-26 09:27] DigitalBoxMobile commented on #16
Thanks @ankane, downgrading helped me

[2021-03-26 09:27] #16 closed

[2021-03-27 01:09] braindeaf commented on #14
solved. I had an outdated master branch for starters, needed to uninstall my or-tools installed by brew as well.

Tried adding a test for assumptions but something isn't quite right, would it also be possilbe to add SufficientAssumptionsForInfeasibility ?

https://github.com/ankane/or-tools/pull/17

All the best

[2021-03-27 01:44] ankane commented on #14
Added in 3e31da05b7873129cde5907daab7ddfc6acb83ab.

[2021-03-27 03:17] braindeaf commented on #14
Thanks again.

[2021-03-27 03:17] #14 closed

[2021-03-27 03:18] braindeaf commented on #15
Resolved. Needed latest OR-Tools. Thank you.

[2021-03-27 03:18] #15 closed

[2021-05-20 21:22] stevenshack opened #18 "or-tools fails to build."
Rice 4.0.2 seems to change where headers are placed which causes or-tools builds to fail..

The error log below is from macOS 10.15.7 with ruby 3.0.1 installed via rbenv.

Looking at the rice package is a single header file now?

% gem install or-tools

Building native extensions. This could take a while...
ERROR:  Error installing or-tools:
	ERROR: Failed to build gem native extension.

    curre

[2021-05-21 00:58] ankane commented on #18
Hey @stevenshack, thanks for reporting. Will push a new release in the next few days, but for now, you can use `gem "rice", "~> 3"`.

[2021-05-23 22:45] ankane commented on #18
Just pushed 0.5.1 that uses Rice 4

[2021-05-23 22:45] #18 closed

[2021-05-28 22:16] stevenshack commented on #18
Sorry for the slow reply. Thanks for this! I'm currently dealing with how to run or-tools under ruby 2.5.x ... Only transitionally though. Any ideas there? any rice < 4 refuses to build.

[2021-05-28 23:04] stevenshack commented on #18
I figured this out. If multiple versions of rice are installed the build scripts will happily use the wrong version. Automake picking the wrong libs/include directory? I'm not sure how to make gem/bundler use the correct gem regardless.

Also, rice has an undeclared dependency on automake.

[2021-06-02 17:32] stevenshack opened #20 "Print model?"
In the or-tools c++ interface there is solver.ExportModelAsLpFormat to print out model details. This would be useful for debug purposes if it were exposed on ruby land. BTW thanks for the good work on this project.

[2021-06-02 20:26] #20 closed

[2021-06-02 20:26] ankane commented on #20
Hey @stevenshack, thanks for the suggestion! Added in the commit above.

[2021-06-02 20:30] ankane commented on #18
If you're using Bundler, it should use the Rice version in your Gemfile, and yeah, Rice < 4 depends on automake.

[2021-06-02 22:03] stevenshack commented on #20
No problem. Is there an equivalent for VRP? I actually thought the VRP code was using a linear solver under the hood.

[2021-06-02 22:14] ankane commented on #20
Not that I'm aware of. OR-Tools routing code uses the CP solver.

[2021-06-03 01:24] pmcnano opened #21 "Process crashing through webserver/sidekiq"
Hello @ankane thanks for the gem.

I started using the gem a month ago while trying to solve some heavy optimization processes we needed. Our current code can take up to 30+ minutes to optimize our problem, and using this we reduced that to seconds.

I worked to implement the new solution and everything works perfectly fine, I have specs with rspec, all was great until today.
Today I tried to get

[2021-06-03 03:00] ankane commented on #21
Hey @pmcnano, can you share the key parts inline?

[2021-06-03 03:53] pmcnano commented on #21
Hey, I'm sorry but what woudl `key part` be for you? That's the thing....the code works...it just doesn't through the web server.
Since I don't have anything specific to share, that's why I shared an app, but I guess I'll try.

From the `test.rb` file:
[code]

That is allegedly what breaks the code, as running `#combine` directly works fine. However, as I explained before if you add a line like th

[2021-06-28 18:08] stevenshack opened #22 "Service times for VRP PD/TW problem."
I'm trying to figure out how to add service times to a VRP problem with PD/TW constraints.

I can simply add service time to the transit time in my transit cost callback. But that's tacky.

Is there a way to register a unary callback in addition to the regular transit callback? They should increment the time for that vehicle so eg: Vehicle leaves an hour later from that location after servicing fo

[2021-06-30 18:21] ankane commented on #22
Hey @stevenshack, not sure about this specifically, but if the Python library has a method for it that's missing in Ruby, we can add it.

[2021-07-16 22:31] stevenshack commented on #22
I'm still stuck on service times and having to hack an extra long trip (drivetime+servicetime) then subtracting out the service time when I output my schedule. Yech. This is a limit from or-tools though, not you.

But I've run up across a new problem. How to take in existing route dispatches.  ala
https://github.com/google/or-tools/issues/1202

The python api has a SetValues method, which doesn't

[2021-07-17 14:52] #22 closed

[2021-07-21 20:35] viniciuscurti opened #23 "Problem with install"
Hi,

I`m getting some trouble installing or-tools.

The log shows this message:
find_header: checking for rice/rice.hpp in /home/viniciuscurti/.rbenv/versions/2.6.3/lib/ruby/gems/2.6.0/gems/rice-4.0.2/include... -------------------- yes

"g++ -o conftest -I/home/viniciuscurti/.rbenv/versions/2.6.3/include/ruby-2.6.0/x86_64-linux -I/home/viniciuscurti/.rbenv/versions/2.6.3/include/ruby-2.6.0/ruby/b

[2021-07-22 21:26] ankane commented on #23
Hey @viniciuscurti, for Pop!_OS, you'll need to build the OR-Tools C++ library from source, then run:

[code]

[2021-07-23 15:57] viniciuscurti commented on #23
Hi @ankane !

Thanks for the help, but i still facing a problem.

After done the or-tools instaltion from source, done the bundle config build to the correct path an then run bundle again to install the gem is now getting this error message:

Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    current directory: /home/viniciuscurti/.rbenv/versions/2.6.3/lib/ruby/gems/2.6.0/gems

[2021-07-23 17:06] viniciuscurti commented on #23
And now i`m facing this error after taking a suggetion from another issue to install or-tools on usr/lib than run ldconfig -v.

Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    current directory: /home/viniciuscurti/.rbenv/versions/2.6.3/lib/ruby/gems/2.6.0/gems/or-tools-0.3.4/ext/or-tools
/home/viniciuscurti/.rbenv/versions/2.6.3/bin/ruby -I /home/viniciuscurti/.rbenv/versi

[2021-07-23 20:09] ankane commented on #23
Try the following:

1. Use the latest version of the gem (0.5.2)
2. Use version 9.0 of the C++ library
3. Paste the output of `find /path/to/or-tools/lib` and `find /path/to/or-tools/include`

[2021-07-26 23:37] stevenshack opened #24 "Feature request SetStartValue"
The python API for or-tools has a number of useful tools for setting values and ranges - particularly useful for VRP problems.  Could we add:

SetStartValue
setstartmin
setstartmax
setstartrange

setendmin
setendmax
setendrange
setendvalue

I believe these should make it easier to for example set the starting time of a vehicle (no more midnight deliveries!).
Further making it easier to directly us

[2021-07-27 01:45] ankane commented on #24
Added the min, max, and range methods to `IntervalVar`. Can you share the Python code that uses `SetStartValue` and `SetEndValue`?

[2021-07-27 17:29] stevenshack commented on #24
I don't have Python code handy, but let me illustrate with some ruby code.

 Here's what I'm doing currently. I'm specifying that each vehicle should operate within its shift timeframe.
 Shift timeframes are relative seconds from midnight. Eg 32400 = 9AM

 @shifts.each_with_index do |shift, vehicle_id|
 	startofday = shift.start_time.beginning_of_day
    starttime = (shift.start_time - startofday)

[2021-07-27 17:44] ankane commented on #24
From what I can tell, there's no `SetStartValue` method on `IntVar` (the return type of `CumulVar`) in Python or C++.

[2021-07-27 17:49] stevenshack commented on #24
ah You're right, it's on IntervalVar.

So what's the right way to make a vehicle only operate within a specific timeframe? Setting start/end times doesn't seem to work. Do I iterate through every location and set the range on each one?

[2021-07-27 18:11] stevenshack commented on #24
For reference I've looked at these or-tools threads:
https://github.com/google/or-tools/issues/1052
https://github.com/google/or-tools/issues/1564
and tried setting start/end. But my vehicles still break the start time.

[2021-07-27 18:55] stevenshack commented on #24
Yup. I've checked I've got the the same code but for both start and end locations. But my vehicle keeps moving before start time. It services a node well before its shift starts.

@shifts.each_with_index do |shift, vehicle_id|
startofday = shift.start_time.beginning_of_day
starttime = (shift.start_time - startofday).to_i
endtime = (shift.end_time - startofday).to_i
vehicle_index_start = @routing.s

[2021-07-27 18:56] stevenshack commented on #24
I'll try and generate the smallest counterexample case I can.

[2021-07-27 21:14] stevenshack commented on #24
As an aside I'm seeing odd behaviour with node_to_index(location_idx).
I have my location matrix setup as starts[0..4], ends[4..9], Pickup/Delivery[10,11]

When I call manager.node_to_index(end_location) I get back -1. Is this expected? I only get -1 on end locations, start and P/D locations return as normal. I've checked and my starts/ends are created correctly.

I was going to simply set a time

[2021-07-31 16:13] ankane commented on #24
Yeah, that's expected for end nodes.

[2021-08-12 23:03] #23 closed

[2021-09-20 21:59] ankane commented on #24
Cleaning up issues

[2021-09-20 21:59] #24 closed

[2021-09-20 22:21] ankane commented on #21
Hey @pmcnano, try updating to the latest version (0.5.3) to see if that fixes it. If not, a few useful things to see inline are:

1. The stack trace of a `stack level too deep` error
2. The stack trace/output of a crash
3. The `Test` class

[2021-09-20 22:33] pmcnano commented on #21
hey @ankane I will update, however, I apologize but I don't even remember what I did, but we are succesfully using this in production 😄 .

I will close this issue. thanks for your gem and your help! Have a wonderful week.

[2021-09-20 23:07] ankane commented on #21
Good to hear. Have a great week as well.

[2021-11-16 20:59] pmcnano commented on #21
Hey @ankane I am actually reopenning this because I found something new. I kinda ignored it because it was working perfectly in production and it hasn't affected me until now.

I just realized that the issue I'm experiencing it's only happening on MacOs, using the same test app I shared in the first post in ubuntu works perfectly fine.

I am not sure how to further debug this issue. Do you have a

[2021-11-19 04:12] ankane commented on #21
Hey @pmcnano, if you're able to create a minimal reproducible example (single file with the minimum amount of code to reproduce), I can spend some time on it. Feel free to create a new issue for it.

[2021-11-19 04:12] #21 closed

[2021-11-27 20:23] tdegrunt opened #25 "Installation/use on Apple M1"
Perhaps this is the wrong place but I can't get or-tools the run on new hardware.

I've installed or-tools using homebrew:
`brew install or-tools`

Then in a test folder, I've done:
[code]

This all runs fine, but when I try and run a test ruby file:

[code]

Traceback (most recent call last):
	3: from test.rb:1:in `<main>'
	2: from test.rb:1:in `require'
	1: from /Users/tdegrunt/.rbenv/versions/2

[2021-11-27 20:50] tdegrunt commented on #25
As these things usually go, I've found a fix.
I'm using home-brew's or-tools as mentioned.

[code]

After this a `bundle install --redownload` fixed it.

Sidenote: Use a bundle version >= 2.2

[2021-11-27 20:50] #25 closed

[2021-11-30 07:24] ankane commented on #25
Hey @tdegrunt, thanks for sharing! I don't have an ARM Mac to test, but I think it should also be possible to do:

[code]

(without `CPLUS_INCLUDE_PATH` since it should add `/opt/homebrew/include`).

Once a binary installation is available, I'll add it as well. https://github.com/google/or-tools/issues/2893

[2022-01-14 18:11] pmcnano opened #26 "M1 Silicon"
Having issues getting the gem working on m1 silicon. Tried creating a new rails app, and just adding the gem just to make sure I don't have a conflict with something else but I am receiving the same error.

```/Users/nano/.rbenv/versions/3.0.3/lib/ruby/gems/3.0.0/gems/bootsnap-1.9.4/lib/bootsnap/load_path_cache/core_ext/kernel_require.rb:23:in `require': dlopen(/Users/nano/.rbenv/versions/3.0.3/li

[2022-01-14 19:57] ankane commented on #26
Hey @pmcnano, check out #25.

[2022-01-14 22:18] pmcnano commented on #26
That did the trick, maybe adding to the readme would be nice. Thanks!

[2022-01-14 22:18] #26 closed

[2022-01-15 03:11] ankane commented on #26
Added in the commit above.

[2022-01-15 03:27] pmcnano commented on #26
Awesome! Thanks again!

[2022-01-22 00:52] bhasto opened #27 "Dependency on lsb-core when installing the gem"
First of all, thanks for a great gem.

I’m running into some installation problems in environments where `lsb-core` package isn’t installed and thus the `lsb_release` command doesn’t work. For example, we don’t keep `lsb-core` in our base Docker images or in our base CI image because it has a lot of dependencies`, some quite big (like python3).

I do have other possibilities (install the package d

[2022-01-22 01:33] #27 closed

[2022-01-22 01:35] ankane commented on #27
Hey @bhasto, thanks for the suggestion! Makes sense to me. Can you try the latest version from GitHub?

[2022-01-22 08:26] bhasto commented on #27
Works for me on Ubuntu 20.04 without lsb-core installed.

Thank you so much, that was blazing fast.

[2022-01-22 21:27] ankane commented on #27
Great, just pushed a new release (0.6.1).

[2022-02-08 13:42] johnnymo87 opened #28 "Solver.solve throws stack level too deep error when run in a web server on a mac"
Hi @ankane, first of all, thanks for the great work you're doing here and elsewhere to improve the machine learning ecosystem for ruby.

I'm having a problem where my code using this gem throws a `stack level too deep` error on `solver.solve` when I run it in a web server on a Mac. I've set up [a GitHub repo](https://github.com/johnnymo87/or-tools-ruby-stack-level-too-deep) to demonstrate.

[code]

[2022-02-08 20:36] ankane commented on #28
Hey @johnnymo87, thanks for reporting! This sounds similar to #21. Happy to dig into it if you can make the repro script more minimal. For instance, minimal dependencies:

[code]

And Ruby code and data in a single file:

[code]

I tried with the [bin packing test case](https://github.com/ankane/or-tools-ruby/blob/afff88b2cecaffa30a229e2a28634a13739ef774/test/bin_packing_test.rb#L151), but wasn't

[2022-02-08 22:47] johnnymo87 commented on #28
Yes, happy to do so, here's a shorter version.

#### Dependencies
[code]
#### Ruby code and data in a single file
[code]

Even though I'm trying to solve a bin packing problem, I feel that the code I wrote is a little closer to your [MIPassignment test case](https://github.com/ankane/or-tools-ruby/blob/afff88b2cecaffa30a229e2a28634a13739ef774/test/assignment_test.rb#L67)? At least in terms of what

[2022-02-09 00:01] ankane commented on #28
Great, that reproduces a crash for me. Will see what's going on.

[2022-02-09 01:45] #28 closed

[2022-02-09 01:50] ankane commented on #28
Hey @johnnymo87, should be fixed in the commit above. Linear expressions are now built in Ruby ([like Python](https://github.com/google/or-tools/blob/2cb85b4eead4c38e1c54b48044f92087cf165bce/ortools/linear_solver/linear_solver_natural_api.py)) instead of C++. Still need to make the `to_s` output friendly, but this should take care of the crashes.

[2022-02-09 03:16] johnnymo87 commented on #28
I'll check it out, thank you @ankane!

[2022-02-09 21:03] ankane commented on #21
Just fyi, 0.6.2 may fix the issue. See #28 for more details.

[2022-02-09 21:17] pmcnano commented on #21
Thanks @ankane, I honestly meant to submit something, but I have been really busy. Interestingly enough, the issues went away when I updated to the last version ON INTEL, however on my M1 they got worse. I was going to make a simple project for you, but I just didn't have the time.

I will test the new release on M1, if it works it will be GREAT.

Thanks so much for your time.

[2022-02-10 00:54] pmcnano commented on #28
@ankane didn't solve the issues for me on M1.

[2022-02-10 15:11] johnnymo87 commented on #28
Hmm yes, I can confirm that the same is true for me.

I set my Gemfile to pull the commit like so:
[code]

And then I reran the script and I still hit the `stack level too deep` error.

[2022-02-11 01:13] ankane commented on #28
Thanks for checking.

I was able to produce another crash when using Homebrew OR-Tools (instead of the OR-Tools download). I have a feeling it's something with how the native extension is linking to the shared libraries. Does it work if you switch to the GLOP solver (`ORTools::Solver.new('demo', :glop)`)?

[2022-02-11 01:16] pmcnano commented on #28
It does not crash with `:glop`

[2022-02-11 02:52] ankane commented on #28
Thanks, from what I can tell, it happens with a combination of:

1. Homebrew OR-Tools (and CBC, etc)
2. The CBC solver
3. A threaded environment (`Thread.new { }.join`)

For now, it's probably easiest to use another solver like GLOP. Hopefully OR-Tools will provide a binary installation for Mac ARM in the future, which should solve it.

[2022-02-11 03:56] ankane commented on #28
It looks like CBC will be thread-safe by default in the future: https://github.com/coin-or/Cbc/discussions/465

There should be a way to build it in a thread-safe way right like [OR-Tools does](https://github.com/google/or-tools/blob/2cb85b4eead4c38e1c54b48044f92087cf165bce/makefiles/Makefile.third_party.unix.mk#L396-L397) (with `--enable-cbc-parallel` and `-DCBC_THREAD_SAFE`), but still seems to

[2022-02-11 04:05] pmcnano commented on #28
Interestingly enough, back on Intel, when I had the issue (which I don't with the last version), doing my solving INSIDE a thread solved it. ha!

[2022-04-04 08:45] artur79 opened #29 "Mac M1 (arm64) or-tools installation bug"
Not caused by this gem but maybe someone already solved it. I'v followed instructions for README and when bundling received an error:

[code]

[2022-04-04 09:17] artur79 commented on #29
I think I overcome that error by setting:

```bundle config build.or-tools --with-or-tools-dir=/opt/homebrew --with-cflags=CMAKE_CXX_STANDARD=14```

I believe it's some c++ compilation setting, but got new error instead :)

[code]

[2022-04-04 09:34] ankane commented on #29
Hey @artur79, it looks like you're using an older version of the gem (0.3.3). Make sure you have the latest OR-Tools from Homebrew (9.2) and try version 0.6.3 of the gem (the latest version is 0.7.0, but it requires OR-Tools 9.3, which isn't on Homebrew yet).

[2022-04-04 09:38] artur79 commented on #29
@ankane works like a charm, thank you very much :) I think issue may be closed

[2022-04-04 10:30] #29 closed

[2022-04-05 14:10] braindeaf opened #30 "Cannot deploy to Ubuntu 18 with latest OR-Tools and 0.6.3 gem"
Our latest deploy appears to have blown up.

gcc 8
OR-Tools 0.9.3
or-tools-ruby 0.6.3

Can you give us any hints? Many thanks :)

[code]

[2022-04-05 17:42] ankane commented on #30
Hey @braindeaf, are you building with an external OR-Tools (`--with-or-tools-dir`)? The errors look like it's being built with OR-Tools 9.3 (which requires 0.7.0 of the gem) instead of 9.2.

[2022-04-05 17:56] braindeaf commented on #30
We are using the Ubuntu source with ---with-or-tools-dir. So by that reckoning I could try using 9.2 and give it another whirl in the morning.

[2022-05-25 12:47] ollym opened #31 "Doesn't build on M1 Mac"
[code]

[2022-05-25 18:02] ankane commented on #31
Hey @ollym, the error message gives instructions on what to do.

[2022-05-26 08:51] ollym opened #32 "[$200 Bounty] Doctor Appointment Problem"
We need a model built to solve a specific problem but I figured instead of spending hours understanding OR Tools and doing it ourself, someone here who's got a spare 20 minutes or so might be interested in helping us out?

The first post on this issue with the correct answer I'll transfer $200 to an account of your choosing (ACH/Wire/PayPal, etc.)

The problem is this:

[code]

[2022-05-26 10:03] ankane commented on #32
Hey @ollym, please use another space for this.

[2022-05-26 10:03] #32 closed

[2022-07-20 15:38] spinosa opened #33 "[VRP] Add API support for RegisterTransitMatrix?"
Passing the transit matrix to the C code with [`RegisterTransitMatrix`](https://github.com/google/or-tools/blob/b37d9c786b69128f3505f15beca09e89bf078a89/ortools/constraint_solver/routing.h#L402-L403) has a significant performance improvement (over a transit callback) in my testing (using the python wrapper).

Would it be possible to support this API?

Thanks, and thanks for your great work with th

[2022-07-20 16:21] #33 closed

[2022-07-20 16:22] ankane commented on #33
Hey @spinosa, thanks for the suggestion! Added in the commit above.

[2022-07-21 14:29] spinosa commented on #33
And it works! Of course.

Thanks @ankane !

PS Started wandering about your site and repos; awesome stuff.

[2022-07-21 23:16] spinosa opened #34 "[VRP] Add add_constant_dimension and set_cumul_var_soft_lower/upper_bound APIs?"
The VRP solver is working great.  I am respectfully reaching out to request additional API coverage...

1) I would like to add soft bounds on time dimension of the locations.  This API is available in python, where the implementation may look a bit like:
[code]

**ASK**: Would it be possible to add `set_cumul_var_soft_lower/upper_bound` on a `mutable_dimension`?

2) I would like to use a constant

[2022-07-22 01:08] #34 closed

[2022-07-22 01:11] ankane commented on #34
Happy to add any missing methods that are needed.

[2022-08-19 23:25] lggg123 opened #35 "ORTools::LinearSumAssignment not finding solution to a 20 * 16 cost matrix"
I have tried the given example of `ORTools::LinearSumAssignment` in the README section which works for 4 * 4 cost matrix:
[code]

Now, I am trying to solve a similar problem for a slightly larger cost matrix which is **20 * 16 matrix** and the cost matrix is:
[code]

But, solver is returning `infeasible` status. And, I am not sure if I am doing something wrong, or the `ORTools::LinearSumAssignment

[2022-08-21 02:44] ankane commented on #35
Hey @lggg123, for the linear sum assignment solver, the number of tasks and workers must be the same: https://github.com/google/or-tools/issues/2597

[2022-08-21 02:44] #35 closed

[2022-08-29 15:28] tdegrunt opened #36 "Fails to compile on Ubuntu 20.04"
ruby-or-tools v. 0.8.1
Ubuntu 20.04

Based on https://github.com/ankane/or-tools-ruby/blob/master/ext/or-tools/vendor.rb#L31 I took it that a binary distribution for Ubuntu 20.04 was available and that this would be downloaded.

The output from install is (for me) not very clear - not sure what the problem is:
[code]

[2022-08-29 15:52] ankane commented on #36
Hey @tdegrunt, based on `g++: fatal error: Killed signal terminated program cc1plus`, it's likely the machine ran out of memory.

[2022-08-29 20:45] tdegrunt commented on #36
Ugh, sometimes it's the simplest things. Thanks you very much! Sorry for the trouble.

🦆

[2022-08-29 20:45] #36 closed

[2022-08-29 21:32] ankane commented on #36
No worries

[2022-10-25 02:07] joegaudet opened #37 "Add Hint doesn't support Boolean vars."
I have a simple model, with boolean vars for assignment, but it appears that the hint interface only accepts int vars.

Minitest::UnexpectedError: TypeError: Wrong argument type. Expected: ORTools::SatIntVar. Received: ORTools::BoolVar.

[2022-10-30 19:41] #37 closed

[2022-10-30 19:41] ankane commented on #37
Hey @joegaudet, thanks for reporting! Added support in the commit above.

[2022-10-30 20:24] ankane commented on #37
Great, sounds good!

[2022-10-31 16:41] joegaudet opened #38 "Issues with sums"
Not sure this is something that can be fixed just because of the way ruby works. But I've noticed in situations where you might collect a set of vars and sum them to be part of an inequality, if the set is empty the lib fails to create the constraint.

[code]

This fails because the sum contains no variables which means that the sum totals to zero, and you end up with a model.add(true).

It does h

[2022-10-31 22:59] #38 closed

[2022-10-31 23:01] ankane commented on #38
Hey @joegaudet, thanks for another report. It now follows the same behavior as Python.

[2022-11-07 23:22] iagopiimenta opened #39 "[VRPTW] Add SolveFromAssignmentWithParameters"
I'm trying to define [initial routes](https://developers.google.com/optimization/routing/routing_tasks#setting-initial-routes-for-a-search) to the solver, but it is missing `solve_from_assignment_with_parameters` API.

Would it be possible to add solve_from_assignment_with_parameters?

[code]

[2022-11-07 23:42] #39 closed

[2022-11-07 23:43] ankane commented on #39
Hey @iagopiimenta, thanks for reporting! Added in the commit above.